@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('../Fonts/PlutoSansCondThin.eot');
    src: local('Pluto Sans Cond Thin'), local('PlutoSansCondThin'),
        url('../Fonts/PlutoSansCondThin.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansCondThin.woff') format('woff'),
        url('../Fonts/PlutoSansCondThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('../Fonts/PlutoSansCondLight.eot');
    src: local('Pluto Sans Cond Light'), local('PlutoSansCondLight'),
        url('../Fonts/PlutoSansCondLight.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansCondLight.woff') format('woff'),
        url('../Fonts/PlutoSansCondLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('../Fonts/PlutoSansCondMedium.eot');
    src: local('Pluto Sans Cond Medium'), local('PlutoSansCondMedium'),
        url('../Fonts/PlutoSansCondMedium.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansCondMedium.woff') format('woff'),
        url('../Fonts/PlutoSansCondMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond ExLight';
    src: url('../Fonts/PlutoSansCondExLight.eot');
    src: local('Pluto Sans Cond ExLight'), local('PlutoSansCondExLight'),
        url('../Fonts/PlutoSansCondExLight.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansCondExLight.woff') format('woff'),
        url('../Fonts/PlutoSansCondExLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('../Fonts/PlutoSansCondBold.eot');
    src: local('Pluto Sans Cond Bold'), local('PlutoSansCondBold'),
        url('../Fonts/PlutoSansCondBold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansCondBold.woff') format('woff'),
        url('../Fonts/PlutoSansCondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('../Fonts/PlutoSansCondBlack.eot');
    src: local('Pluto Sans Cond Black'), local('PlutoSansCondBlack'),
        url('../Fonts/PlutoSansCondBlack.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansCondBlack.woff') format('woff'),
        url('../Fonts/PlutoSansCondBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('../Fonts/PlutoSansThin.eot');
    src: local('Pluto Sans Thin'), local('PlutoSansThin'),
        url('../Fonts/PlutoSansThin.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansThin.woff') format('woff'),
        url('../Fonts/PlutoSansThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('../Fonts/PlutoSansCondRegular.eot');
    src: local('Pluto Sans Cond Regular'), local('PlutoSansCondRegular'),
        url('../Fonts/PlutoSansCondRegular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansCondRegular.woff') format('woff'),
        url('../Fonts/PlutoSansCondRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('../Fonts/PlutoSansMedium.eot');
    src: local('Pluto Sans Medium'), local('PlutoSansMedium'),
        url('../Fonts/PlutoSansMedium.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansMedium.woff') format('woff'),
        url('../Fonts/PlutoSansMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('../Fonts/PlutoSansBlack.eot');
    src: local('Pluto Sans Black'), local('PlutoSansBlack'),
        url('../Fonts/PlutoSansBlack.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansBlack.woff') format('woff'),
        url('../Fonts/PlutoSansBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('../Fonts/PlutoSansBold.eot');
    src: local('Pluto Sans Bold'), local('PlutoSansBold'),
        url('../Fonts/PlutoSansBold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansBold.woff') format('woff'),
        url('../Fonts/PlutoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('../Fonts/PlutoSansExtraLight.eot');
    src: local('Pluto Sans ExtraLight'), local('PlutoSansExtraLight'),
        url('../Fonts/PlutoSansExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansExtraLight.woff') format('woff'),
        url('../Fonts/PlutoSansExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('../Fonts/PlutoSansRegular.eot');
    src: local('Pluto Sans Regular'), local('PlutoSansRegular'),
        url('../Fonts/PlutoSansRegular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansRegular.woff') format('woff'),
        url('../Fonts/PlutoSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('../Fonts/PlutoSansLight.eot');
    src: local('Pluto Sans Light'), local('PlutoSansLight'),
        url('../Fonts/PlutoSansLight.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansLight.woff') format('woff'),
        url('../Fonts/PlutoSansLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('../Fonts/PlutoSansHeavy.eot');
    src: local('Pluto Sans Heavy'), local('PlutoSansHeavy'),
        url('../Fonts/PlutoSansHeavy.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansHeavy.woff') format('woff'),
        url('../Fonts/PlutoSansHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('../Fonts/PlutoSansCondHeavy.eot');
    src: local('Pluto Sans Cond Heavy'), local('PlutoSansCondHeavy'),
        url('../Fonts/PlutoSansCondHeavy.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/PlutoSansCondHeavy.woff') format('woff'),
        url('../Fonts/PlutoSansCondHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

